<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groovy - Where Music Meets Emotion.</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <!-- Body Video -->
    <video autoplay muted loop id="myVideo">
        <source src="../static/Images/music_crowd.mp4" type="video/mp4">
    </video>

    <div class="content">
        <img src="../static/Images/logo_main.png" alt="">
    </div>
    
    <div class="Content_button">
        <a style="margin-right: 64px;"  href="/login">LOG IN</a>
        <a href="/signup">SIGN UP</a>
    </div>
</body>
</html>